force-app/main/default/flows/Update_Capability_Pain_Point_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Score</name>
        <label>Add Score</label>
        <locationX>168</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>SumofScores</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Summarize_Prioritization_Score.YG_Prioritization_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summarize_Prioritization_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>392</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>PainPointCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Capability_Pain_Points</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summarize_Prioritization_Score</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>AverageScore</name>
        <dataType>Number</dataType>
        <expression>{!SumofScores}/{!PainPointCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CapabilityRecordId</name>
        <dataType>String</dataType>
        <expression>{!$Record.aecm__Capability__c}</expression>
    </formulas>
    <interviewLabel>Update Capability Pain Point Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Capability Pain Point Count</label>
    <loops>
        <name>Summarize_Prioritization_Score</name>
        <label>Loop Pain Points</label>
        <locationX>393</locationX>
        <locationY>525</locationY>
        <collectionReference>Get_Capability_Pain_Points</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Score</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Capability_Pain_Points</name>
        <label>Get Capability Pain Points</label>
        <locationX>178</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>aecm__Capability__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.aecm__Capability__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>aecm__Capability_Pain_Point__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Count</name>
        <label>Update Fields</label>
        <locationX>649</locationX>
        <locationY>371</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CapabilityRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>YG_Capability_Pain_Point_Count__c</field>
            <value>
                <elementReference>PainPointCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YG_Pain_Point_Prioritization_Score__c</field>
            <value>
                <elementReference>AverageScore</elementReference>
            </value>
        </inputAssignments>
        <object>aecm__Capability__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Capability_Pain_Points</targetReference>
        </connector>
        <object>aecm__Capability_Pain_Point__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PainPointCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SumofScores</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
