force-app/main/default/flows/YODA_Opportunity_Post_Creation_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Account_Status_To_Pending</name>
        <label>Set Account Status To Pending</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>Fetch_Account_Info.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_New_Contact_Role_Fields</name>
        <label>Set Opportunity New Contact Role Fields</label>
        <locationX>622</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>NewContactRoleToInsert.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContactRoleToInsert.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContactRoleToInsert.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_New_Contact_Role</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Status</name>
        <label>Check Account Status</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Account Status is Not Innactive</defaultConnectorLabel>
        <rules>
            <name>Is_Account_Status_is_Innactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Account_Info.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Status_To_Pending</targetReference>
            </connector>
            <label>Is Account Status is Innactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Has_Contact_Contact_Changed</name>
        <label>Check Has Contact / Contact Changed</label>
        <locationX>622</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Change Required</defaultConnectorLabel>
        <rules>
            <name>New_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_New_Contact_Role_Fields</targetReference>
            </connector>
            <label>New Opportunity</label>
        </rules>
        <rules>
            <name>Existing_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Contact_Roles</targetReference>
            </connector>
            <label>Existing Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Has_Opportunity_Contact_Roles</name>
        <label>Check Has Opportunity Contact Roles</label>
        <locationX>622</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_New_Contact_Role_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Roles Exist</defaultConnectorLabel>
        <rules>
            <name>Has_Oppty_Contact_Roles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oppty_Contact_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Contact_Roles</targetReference>
            </connector>
            <label>Has Oppty Contact Roles</label>
        </rules>
    </decisions>
    <decisions>
        <description>To confirm the opportunity is created or updated.</description>
        <name>Check_Insert_Update</name>
        <label>Check Insert / Update</label>
        <locationX>380</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>Opportunity Update</defaultConnectorLabel>
        <rules>
            <name>New_Opportunity_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Account_Info</targetReference>
            </connector>
            <label>New Opportunity Create</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the opportunity is created from lead conversion.</description>
        <name>CIs_Created_From_Lead_Conversion</name>
        <label>CIs Created From Lead Conversion</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Check_Has_Contact_Contact_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Created From Lead</defaultConnectorLabel>
        <rules>
            <name>Is_Created_From_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Converted_From_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Insert_Update</targetReference>
            </connector>
            <label>Is Created From Lead</label>
        </rules>
    </decisions>
    <interviewLabel>YODA Opportunity Post Creation Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YODA Opportunity Post Creation Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_New_Contact_Role</name>
        <label>Create Opportunity New Contact Role</label>
        <locationX>622</locationX>
        <locationY>1223</locationY>
        <connector>
            <targetReference>Check_Insert_Update</targetReference>
        </connector>
        <inputReference>NewContactRoleToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Contact_Roles</name>
        <label>Delete_Old_Contact_Roles</label>
        <locationX>490</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Set_Opportunity_New_Contact_Role_Fields</targetReference>
        </connector>
        <inputReference>Oppty_Contact_Roles</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Fetch_Account_Info</name>
        <label>Fetch Account Info</label>
        <locationX>182</locationX>
        <locationY>1559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Oppty_Contact_Roles</name>
        <label>Oppty_Contact_Roles</label>
        <locationX>622</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Has_Opportunity_Contact_Roles</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Info</name>
        <label>Update Account Info</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <inputReference>Fetch_Account_Info</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CIs_Created_From_Lead_Conversion</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>NewContactRoleToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
