force-app/main/default/flows/YODA_Contact_to_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Contact_to_Lead</name>
        <label>Clone Contact to Lead</label>
        <locationX>573</locationX>
        <locationY>1122</locationY>
        <actionName>YODA_Contact_TriggerHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_Message_Header</targetReference>
        </faultConnector>
        <inputParameters>
            <name>accountName</name>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>con</name>
            <value>
                <elementReference>GetContact</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Account_Name_Assignment</name>
        <label>Account Name Assignment</label>
        <locationX>668</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_To_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Fields</name>
        <label>Set Lead Fields</label>
        <locationX>536</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>GetContact.Internal_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Internal_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Contact_to_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>404</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>GetContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Account.recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_To_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Was_Missing_Account</name>
        <label>Was Missing Account</label>
        <locationX>404</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>MissingAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_New_Account</name>
        <label>Add New Account</label>
        <locationX>533</locationX>
        <locationY>1327</locationY>
        <defaultConnector>
            <targetReference>Success_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MissingAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_on_Contact</targetReference>
            </connector>
            <label>Check For New Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Account</name>
        <label>Check for Account</label>
        <locationX>536</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Missing_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact.Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Missing_Account</targetReference>
            </connector>
            <label>Contact Missing Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_Check</name>
        <label>Error Check</label>
        <locationX>599</locationX>
        <locationY>1240</locationY>
        <defaultConnector>
            <targetReference>Add_New_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_Message_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ErrorDetected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failure_Message_Header</targetReference>
            </connector>
            <label>Error Message Null</label>
        </rules>
    </decisions>
    <description>When &quot;Contact to Lead&quot; button is clicked on Contact record, the Contact gets duplicated and converted into a Lead</description>
    <formulas>
        <name>CalculatedAccountID</name>
        <dataType>String</dataType>
        <expression>IF({!MissingAccount},
{!Contact_Account.recordId},{!GetContact.Account.Id})</expression>
    </formulas>
    <formulas>
        <name>ErrorDetected</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!ErrorMessage})&gt;0,true,false)</expression>
    </formulas>
    <interviewLabel>YODA Contact to Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YODA Contact to Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>668</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Name_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>536</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_on_Contact</name>
        <label>Update Account on Contact</label>
        <locationX>404</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetContact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Contact_To_Lead</name>
        <label>Contact To Lead</label>
        <locationX>536</locationX>
        <locationY>902</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Lead_Fields</targetReference>
        </connector>
        <fields>
            <name>Internal_Comments</name>
            <dataType>String</dataType>
            <fieldText>Internal Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Campaign</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Campaign__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure_Message_Header</name>
        <label>Failure Message Header</label>
        <locationX>938</locationX>
        <locationY>1145</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Failure_Message</name>
            <fieldText>&lt;p&gt;Failed to create Lead&lt;/p&gt;&lt;p&gt;Error: {!ErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Link_Account</name>
        <label>Link Account</label>
        <locationX>404</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <fields>
            <name>Account_missing</name>
            <fieldText>&lt;p&gt;Account is missing on Contact. Please select one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>536</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Lead created!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MissingAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
