force-app/main/default/flows/YODA_Account_Before_Insert_Update_Operations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Populate Account Region based on Owner/User region.</description>
        <name>Assign_to_Account</name>
        <label>Assign to Account</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Region</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Bypass_flow_rules</name>
        <label>Bypass flow rules</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>bypass_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Bypass_Settings__c.Bypass_Flow_Rules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Account</targetReference>
            </connector>
            <label>bypass false</label>
        </rules>
    </decisions>
    <description>Bypass flow rules.
Populate Account Region based on Owner/User region.</description>
    <formulas>
        <name>Set_Region</name>
        <dataType>String</dataType>
        <expression>IF(
AND(
TEXT({!$Record.Region__c}) = NULL,
{!$Setup.Bypass_Settings__c.Bypass_Flow_Rules__c} = false
),
TEXT({!$Record.Owner.Region__c}),
TEXT({!$User.Region__c})
)</expression>
    </formulas>
    <interviewLabel>YODA Account Before Insert/Update Operations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YODA Account Before Insert/Update Operations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_flow_rules</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
