force-app/main/default/flows/YODA_Case_to_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>assignLeads(LeadId)</description>
        <name>RunAssignmentRules</name>
        <label>RunAssignmentRules</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <actionName>YODA_RunAssignmentRules</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>leadIds</name>
            <value>
                <elementReference>DestinationId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Checkallfieldsshouldbefilled</name>
        <label>Checkallfieldsshouldbefilled</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>GetCampaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkfieldvalidation</name>
            <conditionLogic>(1 AND (2 OR 6))  OR 5 OR 3 OR 7 OR (NOT 1 AND (4 OR 8))</conditionLogic>
            <conditions>
                <leftValueReference>GetCases.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCases.SuppliedCompany</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCases.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCases.Contact.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCases.Contact.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCases.Web_Category_of_Interest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCases.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCases.Contact.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Validation_on_case_and_contact</targetReference>
            </connector>
            <label>checkfieldvalidation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkifcaseclosed</name>
        <label>Checkifcaseclosed</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Case_is_not_closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkcaseclosed</name>
            <conditionLogic>1 AND 7 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>GetCases.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCases.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCases.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCases.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCases.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCases.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Person</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCases.Origin</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkallfieldsshouldbefilled</targetReference>
            </connector>
            <label>checkcaseclosed</label>
        </rules>
    </decisions>
    <description>It converts closed Case into Lead and it copy fields from contact and case object to lead object
Hema 10/20/21 - Removed Mailing address validation.
Hema 10/22/21 - Added null check for Case Origin on Case.
Hema 11/04/21 - Updated error validation on Description field on Case.
Ryan 11/29/21 - Added Origin Web requirements. Mapped company to Account Name.
Hema 11/30/21 - Added Mailing Country validation and Category of Interest formula pulling from Product category
Hema 12/1/21 - Added formulas to populate Name on Lead from Web Name if First Name on Contact is null and Country from Web Country when Mailing Country on Contact is null. RunAssignmentRules</description>
    <formulas>
        <name>Set_CategoryOfInterest</name>
        <dataType>String</dataType>
        <expression>CASE({!GetCases.Product_Category__c},
&apos;Oscilloscopes&apos;, &apos;Oscilloscopes&apos;,
&apos;Power Analyzers and Power Meters&apos;, &apos;Digital Power Analyzers&apos;,
&apos;Data Acquisition&apos;, &apos;Data Acquisition&apos;,
&apos;Optical Test Equipment&apos;, &apos;Optical Measuring Instruments&apos;,
&apos;Signal Generators, Sources and Supplies&apos;, &apos;Generators/Sources/Calibrators/Manometers&apos;,
&apos;Pressure Measurement Instruments&apos;, &apos;Generators/Sources/Calibrators/Manometers&apos;,
&apos;Portable and Handheld Instruments&apos;, &apos;Portable Test Instruments&apos;,
&apos;Others&apos;
)</expression>
    </formulas>
    <formulas>
        <description>Web Country when Mailing Country on Contact is null when Case Origin is Web.</description>
        <name>Set_Country</name>
        <dataType>String</dataType>
        <expression>IF(
AND(
ISPICKVAL({!GetCases.Origin}, &apos;Web&apos;),
{!GetCases.Contact.MailingCountry} = Null
),
{!GetCases.Web_Country__c},
{!GetCases.Contact.MailingCountry}
)</expression>
    </formulas>
    <formulas>
        <description>Web Name when First Name on Contact is null when Case Origin is Web.</description>
        <name>Set_Name</name>
        <dataType>String</dataType>
        <expression>IF (
AND (
ISPICKVAL({!GetCases.Origin}, &apos;Web&apos;), 
{!GetCases.Contact.FirstName} = Null),
{!GetCases.SuppliedName}, 
{!GetCases.Contact.FirstName} )</expression>
    </formulas>
    <interviewLabel>YODA Case to Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YODA Case to Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Record_on_Lead</name>
        <label>Create a Record on Lead</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>DestinationId</assignRecordIdToReference>
        <connector>
            <targetReference>GetLead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Already_Case_is_Converted</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <stringValue>YMI SBU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>GetCampaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>GetCases.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_of_Interest__c</field>
            <value>
                <elementReference>Set_CategoryOfInterest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>GetCases.Contact.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>GetCases.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Set_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>GetCases.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>GetCases.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Set_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Comments__c</field>
            <value>
                <elementReference>GetCases.Internal_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>GetCases.Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>GetCases.Contact.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>GetCases.Contact.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>GetCases.Contact.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>GetCampaign</name>
        <label>GetCampaign</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_Record_on_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Offer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCases</name>
        <label>GetCases</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checkifcaseclosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLead</name>
        <label>GetLead</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RunAssignmentRules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DestinationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Already_Case_is_Converted</name>
        <label>Already Case is Converted</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CaseAlreadyConverted</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_is_not_closed</name>
        <label>Case is not closed</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>casenotclosed</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Case is not closed&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select closed case to convert or close this open case before conversion.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetCases.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Closed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CaseOriginNull</name>
            <fieldText>&lt;p&gt;Case Origin is missing on Case record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetCases.Origin</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Field_Validation_on_case_and_contact</name>
        <label>Field Validation on case and contact</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WebCategory</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Web Category is missing on Case record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetCases.Web_Category_of_Interest__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetCases.Origin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Web</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WebCompany</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Web Company is missing on Case record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetCases.SuppliedCompany</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetCases.Origin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Web</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Description is missing on Case record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetCases.Description</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactFirstName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;FirstName is missing on Contact record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetCases.Contact.FirstName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetCases.Origin</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Web</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactLastName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;LastName is missing on Contact record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetCases.Contact.LastName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AccountId</name>
            <fieldText>&lt;p&gt;Account is missing on Case record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetCases.Account.Name</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MailingCountry</name>
            <fieldText>&lt;p&gt;Mailing Country is missing on Contact record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetCases.Contact.MailingCountry</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetCases.Origin</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Web</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Lead_Ouput</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Case &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!GetCases.CaseNumber}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; is converted into Lead &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!GetLead.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DestinationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
