force-app/main/default/flows/YODA_Case_Escalate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assigned_on_open_case</name>
        <label>assigned on open case</label>
        <locationX>519</locationX>
        <locationY>153</locationY>
        <assignmentItems>
            <assignToReference>current_case.IsEscalated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_case.Escalation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_case.Escalation_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>case_not_closed_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>case_was_closed_assignment</name>
        <label>case was closed assignment</label>
        <locationX>828</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>current_case.Escalation_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_case.Escalation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalation_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_case.IsEscalated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_case.Re_Opened__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_case.Re_open_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseescalatedtext</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>current_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_om_cloes_case</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>caseescalatedtext</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Escalated</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_if_closed</name>
        <label>check if closed</label>
        <locationX>256</locationX>
        <locationY>808</locationY>
        <defaultConnector>
            <targetReference>assigned_on_open_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_is_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>current_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>case_was_closed_assignment</targetReference>
            </connector>
            <label>case is closed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Esc_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Escalation_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>YODA_Case_Escalate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YODA_Case_Escalate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>current_case</name>
        <label>current_case</label>
        <locationX>176</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalate_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>case_not_closed_update</name>
        <label>case not closed update</label>
        <locationX>828</locationX>
        <locationY>274</locationY>
        <inputReference>current_case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_om_cloes_case</name>
        <label>update om cloes case</label>
        <locationX>755</locationX>
        <locationY>554</locationY>
        <inputReference>current_case</inputReference>
    </recordUpdates>
    <screens>
        <name>Escalate_Case</name>
        <label>Escalate Case</label>
        <locationX>144</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_if_closed</targetReference>
        </connector>
        <fields>
            <name>Escalation_Reason</name>
            <choiceReferences>Esc_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Escalation Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Priority</name>
            <choiceReferences>Priority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Escalation_Details</name>
            <dataType>String</dataType>
            <fieldText>Escalation Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>current_case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Prior_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
