force-app/main/default/flows/YODA_Lead_Before_Insert_Update_Operations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Lead_Field_Updates</name>
        <label>Lead Field Updates</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_Accepted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadAcceptedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_Changed_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusChangedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Conversion_Rejection_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conversion_Rejection_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Recent_Status_Changed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecentStatusChangedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Tele_Queue_Accepted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeleQueueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Queue_Accepted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesQueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Business_Unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Region</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Tele_Queue_Assigned_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeleQueueAssignedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Queue_Assigned_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesQueueAssignedDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Tele_Qualified_Lead</name>
        <label>Tele Qualified Lead</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Is_Tele_Qualified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing Qualified Lead (MQL)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Field_Updates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_Setting</name>
        <label>Bypass Setting</label>
        <locationX>336</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Bypass_Settings__c.Bypass_Flow_Rules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tele_Qualified</targetReference>
            </connector>
            <label>Bypass False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tele_Qualified</name>
        <label>Tele-Qualified</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Lead_Field_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TeleQualified_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tele-Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tele_Qualified_Lead</targetReference>
            </connector>
            <label>TeleQualified Lead</label>
        </rules>
    </decisions>
    <description>Executes before a lead is created/updated.
Strictly no cross object manipulations involved.
Tele-Qualified Lead field assignments.</description>
    <formulas>
        <name>Conversion_Rejection_Date</name>
        <dataType>Date</dataType>
        <expression>IF(
	AND(
        OR(
        	 TEXT({!$Record.Status}) == &apos;Rejected&apos;,
            {!$Record.IsConverted} == TRUE
        ),
       TEXT({!$Record.Status}) != TEXT({!$Record__Prior.Status})        
    ),
    DATEVALUE({!$Flow.InterviewStartTime}),
    {!$Record.Conversion_Rejection_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>LeadAcceptedDate</name>
        <dataType>Date</dataType>
        <expression>IF(
AND(
ISNULL({!$Record.Lead_Accepted_Date__c}),
OR(
ISNEW(),
{!$Record.OwnerId} != {!$Record__Prior.OwnerId}
),
BEGINS({!$Record.OwnerId}, &apos;005&apos;),
NOT(BEGINS({!$Record__Prior.OwnerId}, &apos;005&apos;))
),
DATEVALUE({!$Flow.InterviewStartTime}), {!$Record.Lead_Accepted_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>RecentStatusChangedDate</name>
        <dataType>Date</dataType>
        <expression>IF(
AND(
 BEGINS({!$Record.OwnerId}, &apos;005&apos;),
NOT(ISBLANK(TEXT({!$Record__Prior.Status}))),
TEXT({!$Record.Status}) != TEXT({!$Record__Prior.Status})
),
DATEVALUE({!$Flow.InterviewStartTime}), {!$Record.Recent_Status_Changed_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>SalesQueDate</name>
        <dataType>Date</dataType>
        <expression>IF(
AND(
BEGINS({!$Record.OwnerId}, &apos;005&apos;),
ISNULL({!$Record.Sales_Queue_Accepted_Date__c}),
NOT(BEGINS({!$Record__Prior.Owner:Group.DeveloperName}, &apos;Tele&apos;))
),
DATEVALUE({!$Flow.InterviewStartTime}),
{!$Record.Sales_Queue_Accepted_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>SalesQueueAssignedDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    OR(
       AND(
               ISPICKVAL({!$Record.Rating}, &apos;Hot&apos;),
            TEXT({!$Record.Rating}) != TEXT({!$Record__Prior.Rating})
        ),
        AND(
            NOT(BEGINS({!$Record.OwnerId}, &apos;005&apos;)),
            NOT(BEGINS({!$Record.Owner:Group.DeveloperName}, &apos;Tele&apos;)),
            NOT(BEGINS({!$Record.Owner:Group.DeveloperName}, &apos;Default&apos;)),
            {!$Record.OwnerId} != {!$Record__Prior.OwnerId}
        ),
        AND(
        	ISNEW(),
            ISPICKVAL({!$Record.Rating}, &apos;Hot&apos;)
        )
    ),
    DATEVALUE({!$Flow.InterviewStartTime}),  {!$Record.Sales_Queue_Assigned_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>SalesQueueDays</name>
        <dataType>Number</dataType>
        <expression>IF(
AND(
{!$Record.OwnerId} != {!$Record__Prior.OwnerId},
BEGINS({!$Record.OwnerId}, &apos;005&apos;),
NOT(BEGINS({!$Record.OwnerId}, &apos;005&apos;))
),
NOW()-{!$Record.LastmodifiedDate}, 0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Set_Business_Unit</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
ISPICKVAL({!$Record.Category_of_Interest__c},&apos;Oscilloscopes&apos;),
ISPICKVAL({!$Record.Category_of_Interest__c},&apos;Digital Power Analyzers&apos;),
ISPICKVAL({!$Record.Category_of_Interest__c},&apos;Data Acquisition&apos;),
ISPICKVAL({!$Record.Category_of_Interest__c},&apos;Optical Measuring Instruments&apos;),
ISPICKVAL({!$Record.Category_of_Interest__c},&apos;Generators/Sources/Calibrators/Manometers&apos;),
ISPICKVAL({!$Record.Category_of_Interest__c},&apos;Portable Test Instruments&apos;),
ISPICKVAL({!$Record.Category_of_Interest__c},&apos;Others&apos;)
),
&apos;YMI SBU&apos;, TEXT({!$Record.Business_Unit__c})
)</expression>
    </formulas>
    <formulas>
        <name>Set_Region</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Setup.Bypass_Settings__c.Bypass_Flow_Rules__c}, 
TEXT({!$Record.Region__c}),
TEXT({!$Record.Owner:User.Region__c})
)</expression>
    </formulas>
    <formulas>
        <name>StatusChangedDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(
	AND(
    	BEGINS({!$Record.OwnerId}, &apos;005&apos;),
        NOT(ISBLANK(TEXT({!$Record__Prior.Status}))),
        TEXT({!$Record.Status}) !=  TEXT({!$Record__Prior.Status}),
        ISNULL({!$Record.Status_Changed_DateTime__c})        
    ),
    {!$Flow.InterviewStartTime},
    {!$Record.Status_Changed_DateTime__c}
)</expression>
    </formulas>
    <formulas>
        <name>TeleQueueAssignedDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    OR(
 AND(
               ISPICKVAL({!$Record.Rating}, &apos;Warm&apos;),
            TEXT({!$Record.Rating}) != TEXT({!$Record__Prior.Rating})
        ),
        AND(
             {!$Record.OwnerId} != {!$Record__Prior.OwnerId},
            BEGINS({!$Record.Owner:Group.DeveloperName}, &apos;Tele&apos;)           
        ),
        AND(
        	ISNEW(),
            ISPICKVAL({!$Record.Rating}, &apos;Warm&apos;)
        )
    ),
    DATEVALUE({!$Flow.InterviewStartTime}),  {!$Record.Tele_Queue_Assigned_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>TeleQueueDate</name>
        <dataType>Date</dataType>
        <expression>IF(
AND(
BEGINS({!$Record.OwnerId}, &apos;005&apos;),
ISNULL({!$Record.Tele_Queue_Accepted_Date__c}),
BEGINS({!$Record__Prior.Owner:Group.DeveloperName}, &apos;Tele&apos;)
),
DATEVALUE({!$Flow.InterviewStartTime}),
{!$Record.Tele_Queue_Accepted_Date__c}
)</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.InterviewStartTime}</expression>
    </formulas>
    <interviewLabel>Executes before a lead is created/updated.
Strictly no cross object manipulations involved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YODA Lead Before Insert/Update Operations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Setting</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
